.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: 150px 150px;
    margin: 20px;
}

.box {
    background-color: lightcoral;
    padding: 20px;
}