div{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: pink;
    width: 300px;
}

#box2{
    border: 2px dashed #666;
    padding: 15px;
    margin: 15px;
    background-color: yellow;
    width: 300px;
}

#box3{
    border: 3px dotted #999;
    padding: 20px;
    margin: 20px;
    background-color: orange;
    width: 300px;
}   