.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  padding: 20px;
}
.box1 {
  background-color: lightblue;
  padding: 10px;
}
.box2 {
  background-color: aliceblue;
  padding: 12px;
}
.box3 {
  background-color: lightcoral;
  padding: 14px;
}
.box4 {
  background-color: lightgreen;
  padding: 16px;
}